version: "3"
service:
  mongo:
    container_name: mongo-container_name
    image: mongo:3
    restart: always
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"
  api:
    container_name: api-container
    build: .
    image: survey-pet-api
    restart: always
    command: npm start
    volumes:
      - ./dist:/usr/src/survey-pet-api/dist
    ports:
      - "5050:5050"
    links:
      - mongo

